.Dropdown-buttons {
	display: flex;
    flex-direction: row;
	margin-left: 160px;
}

.item {
	margin-left: 15px;
}

.text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #5F5F5F;
}

.sort-button {
	border: none;
	width: 250px;
	height: 50px;
	background: linear-gradient(0deg, #EDEDED, #EDEDED), linear-gradient(354.56deg, #FEFEFE 7.98%, #D5D5D5 92.49%);
	box-shadow: 5px 5px 20px rgba(201, 201, 201, 0.5), -5px -5px 15px #FFFFFF;
	border-radius: 15px;
	color: #5F5F5F;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 19px;
	color: #5F5F5F;
	margin-left: 50px;
}

.sort-button:hover {
	color: #474747;
    background: #d9d9d9;
    box-shadow: 5px 5px 20px rgba(130, 130, 130, 0.5), -5px -5px 15px #FFFFFF;
}

.sort-button:active {
	background: linear-gradient(0deg, #EDEDED, #EDEDED), linear-gradient(343.26deg, #FEFEFE 7.98%, #D5D5D5 92.49%);
	box-shadow: inset -5px -5px 20px rgba(255, 255, 255, 0.7), inset 2px 2px 5px rgba(191, 191, 191, 0.7);
	border-radius: 15px;
}