.poster {
    width: 190px;
    height: 327px;
    border-radius: 25px;
    background: #EDEDED;
    box-shadow: 19px 19px 38px #C9C9C9, -19px -19px 38px #FFFFFF;
    margin-top: 46px;
}


.poster__titel {
    text-align: center;
    font-size: 17px;
    line-height: 21px;
    color: #292929;
    margin-top: 8px;
    font-weight: 300;
}

.poster__inner {
    position: relative;
}

.poster__img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow: hidden;
}
