.data__inner {
    display: flex;
    justify-content: space-between;
}

.data {
    padding-top: 74px;
}

.data__search__input {
    background: #EDEDED;
    box-shadow: inset 2px 2px 5px rgba(191, 191, 191, 0.7), inset -5px -5px 10px rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    border: none;
    outline: none;
    color: #919191;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 25px;
    padding-top: 12px;
    padding-bottom: 13px;
    width: 282px;
    padding-left: 20px;
}


.data__list {
    display: flex;
    justify-content: space-between;
}