.cinemas__tittel {
    font-size: 38px;
    line-height: 45px;
    color: #5F5F5F;
    text-align: center;
    margin-bottom: 38px;
}

.cinemas__logo__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cinemas__data {
    margin-top: 54px;
    display: flex;
    flex-wrap: wrap;
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 1320px) {
    .cinemas__logo__list{
        justify-content: center;
    }

    .cinema__logo__inner {
        margin: 0 10px 20px 10px;
    }
}

@media (max-width: 960px) {
    .cinemas__data {
        flex-direction: column;
        align-items: center;
    }
}
