.cinema__map {
    width: 477px;
    height: 334px;
    box-shadow: 19px 19px 38px rgba(201, 201, 201, 0.7), -19px -19px 38px #FFFFFF;
    border-radius: 35px;
    margin-bottom: 31px;
    position: relative;
    
}