.anonces__titel {
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    color: #5F5F5F;
}

.anonces {
    padding-top: 60px;
    padding-bottom: 20px;
}

.anonces__slider {

}

@media(max-width: 1500px) {
    .anonces__slider {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media(max-width: 1200px) {
    .anonces__slider {
        max-width: 800px;
    }
}

@media(max-width: 980px) {
    .anonces__slider {
        max-width: 550px;
    }
}


@media(max-width: 570px) {
    .anonces__slider {
        max-width: 280px;
    }
}