.reviews {
    color: #5F5F5F;
    padding-top: 30px;
    padding-bottom: 200px;
}

.reviews__titel {
    font-size: 28px;
    line-height: 33px;
}


.reviews__btn__inner {
    text-align: center;
    margin-top: 40px;
}

.reviews__btn {
    font-size: 22px;
    line-height: 28px;
    color: #5F5F5F;
}

.reviews__btn:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

@media (max-width: 960px) {
    .reviews {
        padding-top: 15px;
        padding-bottom: 150px;
    }
}



@media (max-width: 800px) {
    .reviews__titel {
        font-size: 20px;
    }
    
    .reviews__btn {
        font-size: 19px;
    }

    .reviews__btn__inner {
        margin-top: 30px;
    }

    .reviews {
        padding-bottom: 80px;
    }
}

@media (max-width: 500px) {
    .reviews__btn {
        font-size: 16px;
    }

    .reviews {
        padding-bottom: 40px;
    }
}