.button__container__arrow {
    z-index: 1000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    border-radius: 100%;   
    background: #EDEDED;
    box-shadow: -19px -19px 38px #FFFFFF, 19px 19px 38px #C9C9C9;    
}


.arrowprev {
    margin-right: 15px;
}

.button__wrapper__arrow {
    position: relative;
}

.left {
    bottom: -250px;
    left: -80px;
    margin-right: 15px;
}

.right {
    top: -270px;
    right: -80px;
}

.arrownext {
    margin-left: 15px;
}

.arrowprev:hover,.arrownext:hover {
    cursor: pointer;
}

@media(max-width: 1625px) {
    .button__container__arrow {
        height: 55px;
        width: 55px;
    }
    .button__container__arrow img {
        width: 25px;
    }

    .right {
        top: -250px;
        right: -55px;
    }

    .left {
        left: -55px;
    }

    .arrowprev {
        margin-right: 10px;
    }

    .arrownext {
        margin-left: 10px;
    }

}

@media(max-width: 1500px) {
    .right {
        right: -55px;
    }

    .left {
        left: -55px;
    }
}

@media(max-width: 1000px) {
    .right {
        right: -55px;
    }

    .left {
        left: -55px;
    }
}



@media(max-width: 980px) {
    .right {
        right: -60px;
    }

    .left {
        left: -60px;
    }
}


@media(max-width: 780px) {
    .right {
        right: -55px;
    }

    .left {
        left: -55px;
    }
}