body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background: #EDEDED;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1320px) {
  .container {
    max-width: 1100px;
  }
}

