.navbar__ul {
    list-style: none;
    padding-right: 30px;
}

.navbar__ul {
    display: flex;
    justify-content: space-between;
}

.navbar__li {
    margin-right: 27px;
    font-size: 18px;
    line-height: 21px;
}

.navbar__li:last-child {
    margin-right: 0;
}

.navbar__li a{
    color: #5F5F5F;
    text-decoration: none;
}

.navbar__li a:hover {
    text-decoration-line: underline;
    cursor: pointer;
    color: #F2994A;
}


@media (max-width: 1320px) {
   .navbar__ul {
       padding-right: 0;
   }
  }



@media (max-width: 550px) {
   .navbar__ul {
       padding-left: 0;
       justify-content: center;
   }


}
